.mainPageSlideshow {
  width: 87vw;
  height: 20vh;
  margin-left: 20vw;

  /* color:rgba(255, 255, 255, 0.705) */
}

.mainPageSlidShowImage {
  /* width: auto;
  height: auto; */
  width: 87vw;
  height: 30vh;
}

.mainPageSlidShowImageRotated {
  width: 57vw;
  height: 30vh;
}

@media screen and (min-width: 875px) {
  .mainPageSlidShowImage {
    height: 45vh;
  }
}


 @media screen and (min-width: 1000px) {
  .mainPageSlidShowImage {
    height: 50vh;
    width: 87vw;
  }
 }

 @media screen and (min-width: 1300px) {
  .mainPageSlidShowImage {
    height: 55vh;
  }

 }
