.sidebar {
  position: fixed;
  top:  0;
  left: 0;
  display: flex;
  height: 100vh;
  overflow-y: none;
}

.cdbSidebar {
  height: 100%;
}

.sidebar-content {
  /* text-align: center; */
  margin: 1rem;
}

.activeClicked {
  background-color: rgba(255, 255, 255, 0.849);
  display: flex;
  justify-content: center;
}

.activeClicked:hover {
  background-color: #f9f9fa3f;
  font-weight: bold;
  transition: ease-in;
}

.CFS_LOGO_NAVBAR_FOOTER {
  width: 100%;
  background: rgba(255, 255, 255, 0.849);
  /* height: 4.5vh; */
  margin: 0;
  border-style: none;
}

.CFS_LOGO_NAVBAR_FOOTER_Minimized {
  width: 100%;
  background: rgba(255, 255, 255, 0.849);
  height: 6vh;
  margin: 0;
  border-style: none;
}
